#*
*$
*.BAK
*.Z
*.bak
*.class
*.elc
*.ln
*.log
*.myeclipse
*.o
*.obj
*.olb
*.old
*.orig
*.pyc
*.pyo
*.rej
*/.git/*
*~
,*
.#*
.DS_Store
.del-*
.deployables
.make.state
.nse_depinfo
CVS.adm
RCS
RCSLOG
SCCS
_$*

/target

*/ext
*/resources
*/.sencha
*/build
*/overrides
*/packages
*/sass
build.xml
